[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos del sistema
.DS_Store
*.swp
*.tmp

# Visual Studio / JetBrains
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
.idea/

# Archivos generados automáticamente
*.apk
*.aab

.plastic/